<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body class="bg-table garamond">
    <div class="container py-5">
        <div class="d-flex  justify-content-center align-items-center">
            <i class=" pe-3 fa-solid fa-beat-fade text-success font-user  fa-circle-plus"></i>
            <h2 class="text-center"><span class="text-success"> In questa pagina potrai modificare tutti i dati del corsista inseriti in precedenza</span></h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 ">
                <div class="card my-3">
                    <div class="card-body">

                        <form action="/user/dashboard/customers/create-customers" method="POST" id="createRestaurantForm"
                            class="card shadow bg-body-tertiary p-2">
                            <!-- Card Header -->
                            <div class="card-header bg-white py-3">
                                <!-- Create Title -->
                                <h3 class="text-center text-success">Inserisci tutti i dati del corsista</h3>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <!-- Customer Name Form Group -->
                                <div class="form-group my-4">
                                    <!-- Name Label -->
                                    <label class="control-label my-2">Nome *</label>
                                    <!-- Name Input Text -->
                                    <input type="text" name="name" id="name" placeholder="Inserisci il nome del corsista"
                                        class="form-control" value="">
                                    <!-- Name Error Text -->
                                    <% if (typeof errors !=='undefined' && errors.find(error=> error.path === 'name')) { %>
                                        <div class="text-danger">
                                            <%= errors.find(error=> error.path === 'name').msg %>
                                        </div>
                                        <% } %>
                                </div>
                                <!-- Customer Surname Form Group -->
                                <div class="form-group my-4">
                                    <!-- Surname Label -->
                                    <label class="control-label my-2">Cognome *</label>
                                    <!-- Surname Input Text -->
                                    <input type="text" name="surname" id="surname"
                                        placeholder="Inserisci il cognome del corsista" class="form-control" value="">
                                    <!-- Surname Error Text -->
                                    <% if (typeof errors !=='undefined' && errors.find(error=> error.path === 'surname')) { %>
                                        <div class="text-danger">
                                            <%= errors.find(error=> error.path === 'surname').msg %>
                                        </div>
                                        <% } %>
                                </div>
                                <!-- Customer C.F. Form Group -->
                                <div class="form-group my-4">
                                    <!-- Customer C.F. Label -->
                                    <label class="control-label my-2">Codice Fiscale *</label>
                                    <!-- Customer C.F. Input Text -->
                                    <input type="text" name="cfr" id="cfr"
                                        placeholder="Inserisci il codice fiscale del corsista" class="form-control" value="">
                                    <!-- Customer C.F. Error Text -->
                                    <% if (typeof errors !=='undefined' && errors.find(error=> error.path === 'cfr')) { %>
                                        <div class="text-danger">
                                            <%= errors.find(error=> error.path === 'cfr').msg %>
                                        </div>
                                        <% } %>
                                </div>
                                <!-- Customer Email Form Group -->
                                <div class="form-group my-4">
                                    <!-- Email Label -->
                                    <label class="control-label my-2">Email</label>
                                    <!-- Email Input Text -->
                                    <input type="email" name="email" id="email" placeholder="Inserisci l'email del corsista"
                                        class="form-control" value="">
                                    <!-- Email Error Text -->
                                    <% if (typeof errors !=='undefined' && errors.find(error=> error.path === 'email')) { %>
                                        <div class="text-danger">
                                            <%= errors.find(error=> error.path === 'email').msg %>
                                        </div>
                                        <% } %>
                                </div>
                                <!-- Customer City Of Birth Form Group -->
                                <div class="form-group my-4">
                                    <!-- Customer City Of Birth Label -->
                                    <label class="control-label my-2">Città di nascita *</label>
                                    <!-- Customer City Of Birth Input Text -->
                                    <input type="text" name="city_of_birth" id="city_of_birth"
                                        placeholder="Inserisci la città di nascita del corsista" class="form-control" value="">
                                    <!-- Customer City Of Birth Error Text -->
                                    <% if (typeof errors !=='undefined' && errors.find(error=> error.path === 'city_of_birth'))
                                        { %>
                                        <div class="text-danger">
                                            <%= errors.find(error=> error.path === 'city_of_birth').msg %>
                                        </div>
                                        <% } %>
                                </div>
                                <!-- Customer Date Of Birth Form Group -->
                                <div class="form-group my-4">
                                    <!-- Customer Date Of Birth Label -->
                                    <label class="control-label my-2">Data di nascita *</label>
                                    <!-- Customer Date Of Birth Input File -->
                                    <input type="date" name="date_of_birth" id="date_of_birth" class="form-control">
                                    <!-- Customer Date Of Birth Error Text -->
                                    <% if (typeof errors !=='undefined' && errors.find(error=> error.path === 'date_of_birth'))
                                        { %>
                                        <div class="text-danger">
                                            <%= errors.find(error=> error.path === 'date_of_birth').msg %>
                                        </div>
                                        <% } %>
                                </div>
                                <!-- Customer Task Form Group -->
                                <div class="form-group my-4">
                                    <!-- Customer Task Of Birth Label -->
                                    <label class="control-label my-2">Mansione</label>
                                    <!-- Customer Task Input Text -->
                                    <input type="text" name="task" id="task" placeholder="Inserisci il cognome del corsista"
                                        class="form-control" value="">
                                    <!-- Customer Task Error Text -->
                                    <% if (typeof errors !=='undefined' && errors.find(error=> error.path === 'task')) { %>
                                        <div class="text-danger">
                                            <%= errors.find(error=> error.path === 'task').msg %>
                                        </div>
                                        <% } %>
                                </div>
                                <!-- Customer Cover Image Form Group -->
                                <div class="form-group my-4">
                                    <!-- Cover Image Label -->
                                    <label class="control-label my-2">Immagine del corsista</label>
                                    <!-- Cover Image Input File -->
                                    <input type="file" name="cover_image" id="cover_image" class="form-control"
                                        accept="image/jpg, image/jpeg, image/png, image/webp">
                                    <!-- Cover Image Error Text -->
                                </div>
                                <!-- Create Submit Button -->
                                <div class="col-12 d-flex justify-content-center align-items-center my-5">
                                    <button type="submit" class="btn text-light btn-success fw-bold py-2"><i class="fa-solid fa-circle-plus"></i><span class="ps-2">Aggiungi</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-center pt-3">
        <a class="no text-light" href="/user/dashboard/customers"><button class="btn btn-danger"><i class="fa-solid fa-person-walking-dashed-line-arrow-right pe-2"></i>Torna alla dashboard</button></a>
    </div>
</body>

</html>