<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body class="garamond">
    <main>


        <!-- TABLE -->

        <div class="container-fluid">
            <div class="row">
                <div style="height: 100vh;" class="px-0 ">
                    <div class='d-flex justify-content-center '>
                        <div style="height: 100vh;" class="col-2  px-0 ">
                            <div class='d-flex justify-content-center py-3'>
                                <img style="width: 130px;"
                                    src='https://tse1.mm.bing.net/th?id=OIP.3BO_r-ZIWWX_hdiWjAC7vwHaDI&pid=Api&P=0&h=180' />
                            </div>
                            <ul class="style-list-n text-center ps-0">
                                <li class="pt-3 over ">
                                    <a href="/user/dashboard" class="no text-dark">
                                        <div class="d-flex  align-items-center">

                                            <i class="fa-solid fa-house-user ps-4 text-info icon-ridimension"></i>
                                            <h5 class="pt-2">Home</h5>
                                        </div>
                                    </a>


                                </li>
                                <li class=" over py-3">
                                    <div class="d-flex  align-items-center">
                                        <i class="fa-solid text-dark icon-ridimension ps-4  fa-user-graduate"></i>
                                        <h5 class="pt-2">Corsisti</h5>
                                    </div>

                                </li>
                                <li class="over ">
                                    <div class="d-flex  align-items-center">
                                        <i class="fa-solid fa-chart-simple ps-4 icon-ridimension text-success"></i>
                                        <h5 class="pt-2">Statistiche</h5>
                                    </div>

                                </li>

                            </ul>
                        </div>
                        <div class="col-10 bg-table px-0">
                            <h2 class="text-center  bg-white  py-4">Benvenuto nella <span class="color-blue"> MGL
                                </span> <span class="color-yellow">consulting </span>dashboard
                            </h2>
                            <div class="d-flex justify-content-center pt-3">
                                <div class="col-8 ">
                                    <form action="/user/dashboard/search_customers" method="GET"
                                        class="input-group d-flex responsive-search">
                                        <input oninput="controllaCampi()" type="text" id="campo1" class="form-control ms-3" name="nome"
                                            placeholder="Cerca per nome">
                                        <input oninput="controllaCampi()" type="text" id="campo2" class="form-control ms-3" name="cognome"
                                            placeholder="Cerca per cognome">
                                        <input oninput="controllaCampi()" id="campo3" type="text" class="form-control ms-3" name="codice_fiscale"
                                            placeholder="Cerca per C.F.">
                                        <div class="input-group-append mx-3">
                                            <button id="btn" class="btn  btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Cerca</button>
                                        </div>
                                    </form>
                                </div>
                            </div>


                            <!-- SCRIPT CON LA FUNCTION PER DISABILITARE IL BUTTON QUANDO TUTTI I CAMPI INPUT SONO VUOTI -->
                            <script>
                                // dichiariamo la funzione 
                                function controllaCampi() {

                                    // dichiariamo delle variabili che indicheranno tutti i campi input

                                    let campo1 = document.getElementById("campo1").value;

                                    let campo2 = document.getElementById("campo2").value;

                                    let campo3 = document.getElementById('campo3').value;
                        
                                    let button = document.getElementById('btn')

                                    // immettiamo la condizione che disabilitera il button fin quando almeno uno dei campiinput saranno riempiti
                                    if (campo1 || campo2 || campo3 !== "" ) {
                                        button.disabled = false;
                                        console.log(button = 'abilitato')
                                    } else {
                                        button.disabled = true;
                                    }
                                }

                                
                            </script>
                            <!-- END SCRIPT -->


                            <div id="example1" class=" m-5 mt-4 p-4 rounded bg-white">
                                <table class="table text-center ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Foto</th>
                                            <th scope="col">Nome e Cognome</th>
                                            <th scope="col">Codice Fiscale</th>
                                            <th scope="col">Mansione</th>
                                            <th scope="col">Azioni</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% customers.forEach(customer=> { %>
                                            <tr>
                                                <th scope="row"><i
                                                        class="fa-solid icon-ridimension pe-0 fa-user-graduate"></i>
                                                </th>
                                                <td>
                                                    <p class="pt-1 mb-0">
                                                        <%= customer.name %>
                                                            <%= customer.surname %>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class="pt-1 mb-0">
                                                        <%= customer.cfr %>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class="pt-1 mb-0">
                                                        <%= customer.task %>
                                                    </p>
                                                </td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button"
                                                            class="btn text-light btn-info dropdown-toggle"
                                                            data-bs-toggle="dropdown" aria-expanded="true">
                                                            <i class="fa-solid fa-user-gear"></i>
                                                        </button>
                                                        <ul class="dropdown-menu py-0 bg-info text-center text-light">
                                                            <a class="no text-light"
                                                                href="customers/<%= customer.id %>">
                                                                <li class="drop py-2 "><i
                                                                        class="fa-solid fa-circle-info"></i> dettagli
                                                                </li>
                                                            </a>

                                                            <a class="no text-light"
                                                                href="customers/<%= customer.id %>/assign-courses">
                                                                <li class="drop py-2"><i
                                                                        class="fa-solid fa-square-plus"></i> assegna
                                                                </li>
                                                            </a>

                                                            <a class="no text-light"
                                                                href="customers/<%= customer.id %>/edit">
                                                                <li class="drop py-2"><i class="fa-solid fa-wrench"></i>
                                                                    modifica</li>
                                                            </a>

                                                            <a class="no text-light"
                                                                href="">
                                                                <li class="py-2 text-danger"><i class="fa-solid fa-trash"></i>
                                                                    elimina</li>
                                                            </a>


                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>

                                <div class="d-flex justify-content-center mt-4">
                                    <button class="btn btn-info"><a class="text-center no text-light"
                                            href="customers/create-customers"><i class="fa-solid fa-plus"></i> Crea il
                                            corsista</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    </main>
</body>

</html>