<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <main>
        <div class="container-fluid">
            <h1>Benvenuto nella pagina dei corsisti</h1>
            <% customers.forEach(customer=> { %>
                <div class="customer">
                    <p>Nome: <%= customer.name %>
                    </p>
                    <p>Cognome: <%= customer.surname %>
                    </p>
                    <p>CF: <%= customer.cfr %>
                    </p>
                    <!-- Aggiungi altri dettagli del cliente come desideri -->
                    <a href="customers/<%= customer.id %>">Vai al dettaglio del corsista</a>
                    <a href="customers/<%= customer.id %>/assign-courses">assegna corso al corsista</a>
                    <a href="customers/<%= customer.id %>/edit">Modifica dati corsista</a>
                    <form id="deleteForm_<%= customer.id %>"
                        action="/user/dashboard/customers/<%= customer.id %>/delete?_method=DELETE" method="POST">
                        <button type="submit">Cancella il
                            corsista</button>
                    </form>
                </div>
                <% }); %>
                    <a href="customers/create-customers">Crea il corsista</a>
        </div>
    </main>
</body>

</html>