<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <main>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <% if (typeof locals !=='undefined' && locals.error) { %>
                    <!-- Operation not Authorized Message -->
                    <div class="col-12 col-lg-6 mt-5">
                        <div class="alert alert-danger">
                            <i class="fa-solid fa-circle-info"></i>
                            <span>
                                <%= locals.error %>
                            </span>
                        </div>
                    </div>
                    <% } %>
                        <% if (typeof locals !=='undefined' && locals.message) { %>
                            <!-- Confirm Message -->
                            <div class="col-12 col-lg-6 mt-5">
                                <div class="alert alert-success">
                                    <i class="fa-solid fa-circle-info"></i>
                                    <span>
                                        <%= locals.message %>
                                    </span>
                                </div>
                            </div>
                            <% } %>
                                <div class="col-8">
                                    <div class="card my-3">
                                        <div class="card-body">
                                            <form action="/admin/customers/update/<%= customer.id %>" method="POST"
                                                enctype="multipart/form-data" id="createRestaurantForm"
                                                class="card shadow bg-body-tertiary p-2">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <input type="hidden" name="_method" value="PUT">
                                                <!-- Card Header -->
                                                <div class="card-header bg-white py-3">
                                                    <!-- Create Title -->
                                                    <h1 class="text-center">Modifica i dati del corsista <%=
                                                            customer.name %>
                                                            <%= customer.surname %>
                                                    </h1>
                                                </div>
                                                <!-- Card Body -->
                                                <div class="card-body">
                                                    <!-- Customer Name Form Group -->
                                                    <div class="form-group my-4">
                                                        <!-- Name Label -->
                                                        <label class="control-label my-2">Nome *</label>
                                                        <!-- Name Input Text -->
                                                        <input type="text" name="name" id="name"
                                                            placeholder="Inserisci il nome del corsista"
                                                            class="form-control <%= errors.name ? 'is-invalid' : '' %>"
                                                            value="<%= locals && locals.formData && locals.formData.name ? locals.formData.name : customer.name %>"
                                                            maxlength="60" required>
                                                        <!-- Name Error Text -->
                                                        <% if (errors && errors.name) { %>
                                                            <div class="text-danger">
                                                                <%= errors.name %>
                                                            </div>
                                                            <% } %>
                                                    </div>
                                                    <!-- Customer Surname Form Group -->
                                                    <div class="form-group my-4">
                                                        <!-- Surname Label -->
                                                        <label class="control-label my-2">Cognome *</label>
                                                        <!-- Surname Input Text -->
                                                        <input type="text" name="surname" id="surname"
                                                            placeholder="Inserisci il cognome del corsista"
                                                            class="form-control <%= errors.surname ? 'is-invalid' : '' %>"
                                                            value="<%= locals && locals.formData && locals.formData.surname ? locals.formData.surname : customer.surname %>"
                                                            maxlength="60" required>
                                                        <!-- Surname Error Text -->
                                                        <% if (errors && errors.surname) { %>
                                                            <div class="text-danger">
                                                                <%= errors.surname %>
                                                            </div>
                                                            <% } %>
                                                    </div>
                                                    <!-- Other form fields ... -->
                                                    <!-- Create Submit Button -->
                                                    <div
                                                        class="col-12 d-flex justify-content-center align-items-center my-5">
                                                        <button type="submit"
                                                            class="btn btn-success fw-bold px-5">MODIFICA</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
            </div>
        </div>
    </main>
</body>

</html>