<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body class="bg-update garamond">
    <main>
        <div class="container  pb-5">
            <div class="d-flex pt-4 justify-content-center align-items-center">
                <i class=" pe-3 fa-solid fa-shake text-secondary font-user  fa-wrench"></i>
                <h3 class="text-center"><span class="text-secondary"> In questa pagina potrai modificare tutti i dati del corsista inseriti in precedenza</span></h3>
            </div>
            
            <div class="row d-flex justify-content-center">
                <% if (typeof locals !=='undefined' && locals.error) { %>
                    <!-- Operation not Authorized Message -->
                    <div class="col-12 col-lg-6 mt-5">
                        <div class="alert alert-danger">
                            <i class="fa-solid fa-circle-info"></i>
                            <span>
                                <%= locals.error %>
                            </span>
                        </div>
                    </div>
                    <% } %>
                        <% if (typeof locals !=='undefined' && locals.message) { %>
                            <!-- Confirm Message -->
                            <div class="col-12 col-lg-6 mt-5">
                                <div class="alert alert-success">
                                    <i class="fa-solid fa-circle-info"></i>
                                    <span>
                                        <%= locals.message %>
                                    </span>
                                </div>
                            </div>
                            <% } %>
                                <div class="col-12 col-xl-8">
                                    <div class="card my-3">
                                        <div class="card-body">
                                            <form action="/user/dashboard/customers/<%= customer.id %>/edit?_method=PUT"
                                                id="createRestaurantForm" class="card shadow bg-body-tertiary p-2"
                                                method="POST">
                                                <!-- Card Header -->
                                                <div class="card-header bg-white py-3">
                                                    <!-- Create Title -->
                                                    <h3 class="text-center text-secondary">Modifica i dati del corsista <%=
                                                            customer.name %>
                                                            <%= customer.surname %>
                                                    </h3>
                                                </div>
                                                <!-- Card Body -->
                                                <div class="card-body">
                                                    <!-- Customer Name Form Group -->
                                                    <div class="form-group my-4">
                                                        <!-- Name Label -->
                                                        <label class="control-label my-2">Nome *</label>
                                                        <!-- Name Input Text -->
                                                        <input type="text" name="name" id="name"
                                                            placeholder="Inserisci il nome del corsista"
                                                            class="form-control" value="<%= customer.name %>"
                                                            maxlength="60" required>
                                                    </div>
                                                    <!-- Customer Surname Form Group -->
                                                    <div class="form-group my-4">
                                                        <!-- Surname Label -->
                                                        <label class="control-label my-2">Cognome *</label>
                                                        <!-- Surname Input Text -->
                                                        <input type="text" name="surname" id="surname"
                                                            placeholder="Inserisci il cognome del corsista"
                                                            class="form-control" value="<%= customer.surname %>"
                                                            maxlength="60" required>

                                                    </div>
                                                    <!-- Customer C.F. Form Group -->
                                                    <div class="form-group my-4">
                                                        <!-- Customer C.F. Label -->
                                                        <label class="control-label my-2">Codice Fiscale *</label>
                                                        <!-- Customer C.F. Input Text -->
                                                        <input type="text" name="cfr" id="cfr"
                                                            placeholder="Inserisci il codice fiscale del corsista"
                                                            class="form-control" value="<%= customer.cfr %>"
                                                            minlength="16" maxlength="16" required>
                                                        <!-- Customer C.F. Error Text -->

                                                    </div>
                                                    <!-- Customer Email Form Group -->
                                                    <div class="form-group my-4">
                                                        <!-- Email Label -->
                                                        <label class="control-label my-2">Email</label>
                                                        <!-- Email Input Text -->
                                                        <input type="email" name="email" id="email"
                                                            placeholder="Inserisci l'email del corsista"
                                                            class="form-control" value="<%= customer.email %>">
                                                        <!-- Email Error Text -->

                                                    </div>
                                                    <!-- Customer City Of Birth Form Group -->
                                                    <div class="form-group my-4">
                                                        <!-- Customer City Of Birth Label -->
                                                        <label class="control-label my-2">Città di nascita *</label>
                                                        <!-- Customer City Of Birth Input Text -->
                                                        <input type="text" name="city_of_birth" id="city_of_birth"
                                                            placeholder="Inserisci il cognome del corsista"
                                                            class="form-control" value="<%= customer.city_of_birth %>"
                                                            maxlength="60" required>
                                                        <!-- Customer City Of Birth Error Text -->

                                                    </div>
                                                    <!-- Customer Date Of Birth Form Group -->
                                                    <div class="form-group my-4">
                                                        <!-- Customer Date Of Birth Label -->
                                                        <label class="control-label my-2">Data di nascita *</label>
                                                        <!-- Customer Date Of Birth Input File -->
                                                        <input type="date" name="date_of_birth" id="date_of_birth"
                                                            class="form-control" value="<%= customer.date_of_birth %>"
                                                            required>
                                                        <!-- Customer Date Of Birth Error Text -->

                                                    </div>
                                                    <!-- Customer Task Form Group -->
                                                    <div class="form-group my-4">
                                                        <!-- Customer Task Of Birth Label -->
                                                        <label class="control-label my-2">Mansione</label>
                                                        <!-- Customer Task Input Text -->
                                                        <input type="text" name="task" id="task"
                                                            placeholder="Inserisci il cognome del corsista"
                                                            class="form-control" value="<%= customer.task %>"
                                                            maxlength="70">
                                                        <!-- Customer Task Error Text -->

                                                    </div>
                                                    <!-- Customer Cover Image Form Group -->
                                                    <div class="form-group my-4">
                                                        <!-- Cover Image Label -->
                                                        <label class="control-label my-2">Immagine del corsista</label>
                                                        <!-- Cover Image Input File -->
                                                        <input type="file" name="cover_image" id="cover_image"
                                                            class="form-control @error('cover_image') is-invalid @enderror"
                                                            accept="image/jpg, image/jpeg, image/png, image/webp">
                                                        <!-- Cover Image Error Text -->

                                                    </div>
                                                    <div
                                                        class="col-12 d-flex justify-content-center align-items-center my-5">
                                                        <button type="submit"
                                                            class="btn btn-warning fw-bold px-5 text-secondary"><i class="pe-3 fa-solid text-secondary   fa-wrench"></i>MODIFICA</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
            </div>
        </div>
    </main>
    <div class="col-12 d-flex justify-content-center pb-5">
        <a class="no text-light" href="/user/dashboard/customers"><button class="btn btn-danger"><i class="fa-solid fa-person-walking-dashed-line-arrow-right pe-2"></i>Torna alla dashboard</button></a>
    </div>
</body>

</html>