<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <main class='garmond pb-5'>
        <div class="container-fluid">
            <div class='row justify-content-center'>
                <div class='col-12 d-flex justify-content-center pt-3'>
                    <div class='d-flex justify-content-center'>
                        <img style="width: 65%;"
                            src='https://tse1.mm.bing.net/th?id=OIP.3BO_r-ZIWWX_hdiWjAC7vwHaDI&pid=Api&P=0&h=180' />
                    </div>


                </div>
                <div class='text-center text-light row justify-content-center mt-5 jumbotron  py-5'>
                    <h1>Benvenuto, <%= guest.firstName %>
                            <%= guest.lastName %>
                    </h1>

                    <% if (courses.length> 0) { %>
                        <h2>I tuoi corsi:</h2>
                        <ul>
                            <% courses.forEach(course=> { %>
                                <li>
                                    <strong>Corso:</strong>
                                    <%= course.nome_corso %>
                                        <% if (course.course_completed==1) { %>
                                            <a href="/attestation/download/<%= course.paymentToken %>">Scarica
                                                Attestato</a>
                                            <% } else { %>
                                                <p>Il corso non è ancora completato.</p>
                                                <% } %>
                                </li>
                                <% }); %>
                        </ul>
                        <% } else { %>
                            <p>Non sei iscritto a nessun corso attualmente.</p>
                            <% } %>



                </div>
                <p class="text-center pt-3">Invece se proprio vuoi...... <i
                        class="fa-solid color-blue fa-face-sad-tear"></i></p>
                <div class="col-12  d-flex justify-content-center align-items-center">


                    <button class="btn btn-danger px-3 py-1"><a class='no text-light' href="/logout"><i
                                class="fa-solid fa-person-walking-dashed-line-arrow-right"></i> LOGOUT</a></button>
                </div>
            </div>
        </div>
    </main>
</body>

</html>